/* section, hero, header, footer*/

.nav {
    position: fixed;          /* ลอยบน hero video */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
}

.nav-logo a {
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;
}

