/* section, hero, header, footer*/

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff; 
}

.header-inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 24px 60px;
}

/* LEFT */
.header-left .lang {
    background: none;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

/* CENTER */
.header-center {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 36px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #111;
    font-size: 13px;
    letter-spacing: 2px;
}

/* RIGHT */
.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.signin {
    text-decoration: none;
    color: #111;
    font-size: 12px;
    letter-spacing: 2px;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.hero {
    position: relative;
    height: 200vh;
    overflow: hidden; /* ⭐ ตัดไม่ให้ลูกลอยออก */
}


/* video */
.hero-video {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

/* overlay */
.hero-overlay {
    position: sticky;
    top: 0;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    pointer-events: none;
}

/* brand */
.hero-brand {
    position: absolute;   /* ❗ เปลี่ยนจาก sticky */
    top: 72px;            /* ใต้ header */
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    pointer-events: none;
}
.hero-brand h1 {
    font-size: clamp(80px, 12vw, 200px);
    font-weight: 700;
    letter-spacing: 6px;
    margin: 0;
    color: white;
    mix-blend-mode: difference;
}


.new {
    position: relative;
    z-index: 5;          /* ⭐ สูงกว่า hero-brand */
    background: #fff;
    margin-top: 100px;   /* ⭐ ดันให้พ้น hero */
}
