/* ใช้ปรับเฉพาะหน้า index*/

/* Hero Section */
.hero {
    position: relative;
    height: 200vh;
}

.hero-video {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.hero-overlay {
    position: sticky;
    top: 0;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    pointer-events: none;
}

.hero-text {
    position: sticky;
    top: 50vh;                 /* กึ่งกลางจอ */
    display: flex;
    justify-content: center;   /* กลางแนวนอน */
    align-items: center;       /* กลางแนวตั้ง */
    height: 0;                 /* สำคัญ */
    z-index: 2;
    color: white;
}

.hero-text h1 {
    font-size: 80px;
    letter-spacing: 8px;
}

