.hero {
    position: relative;
    height: 200vh; /* สูงกว่าจอ เพื่อให้ scroll */
}

.hero-video {
    position: sticky;
    top: 0;
    width: 100%;
    height:100vh;
    object-fit: cover;
    z-index: 0;
}

.hero-overlay {
    position: sticky;
    top: 0;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.hero-text {
    position: sticky;
    top: 40%;
    text-align: center;
    color: red;      /* test */
    font-size: 80px; /* test */
    z-index: 999;
}


.hero-text h1 {
    font-size: 80px;
    letter-spacing: 8px;
}

.next-section {
    height: 100vh;
    padding: 100px;
}
